body {
    color: #000;
    font-size: 16pt;
    min-width: 1260px;
    max-width: 2000px;
}

#i2 {
    background-image: url(img/drunk-taxi.jpg);
}

#i3 {
    background-image: url(img/drunk-taxi2.jpg);
}

#i4 {
    background-image: url(img/license_types.jpg);
    background-size: contain;
}

#i5 {
    background-image: url(img/coveragemap.jpg);
}

#i6 {
    background-image: url(img/heatmap.jpg);
}

#i7 {
    background-image: url(img/heatmap_jfk.png);
}

#i8 {
    background-image: url(img/clustermap.jpg);
}

#i9 {
    background-image: url(img/robot.jpg);
}

#i10 {
    background-image: url(img/eye.png);
}

#i11, #i12, #i13 {
    background: #ee6557;
    color: rgb(242, 237, 227);
}

#i14 {
     background-image: url(img/Norm.jpg);
}

#i15 {
     background-image: url(img/google_map.jpg);
}

#i16 {
     background-image: url(img/routing.jpg);
 }

#i17 {
     background-image: url(img/kdtree.jpg);
 }

#i18 {
    background: #ffffff;
}

.slide {
    min-height: 1000px;
    background-repeat: no-repeat; !important;
    background-size: 100%; !important;
}



.logo-left { float:left; }
.logo-right { float:right; }

div.middle-article {
    margin: 3% 20% 3% 20%;
}

div.transbox {
    width: 450px;
    min-height: 600px;
    margin: 30px 50px;
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.9;
    filter: alpha(opacity=90); /* For IE8 and earlier */
}

div.transbox.tall {
    height: 800px;
}

div.transbox p {
    margin: 30px 40px;
    color: #000000;
    font-size: 16pt;
}

a {
    text-decoration: underline;
    color: #000;
    text-transform: none;
    letter-spacing: normal;
    font-size: 16pt;
}

.next {
    text-align: center;
}

a:hover {
	color: #00f;
}

h2, h3, h4{
    text-align: center;
}
