* {
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', Helvetica, Arial, Verdana, sans-serif;
    font-size: 16pt;
}

div.background {
    width: 100%;
    height: 100%;
    border: 2px solid black;
}

#i1 {
    background: url(../img/taxis.jpg);
    background-size: 100%;
}

#i2 {
    background: url(../img/drunk-taxi.jpg);
    background-size: 100%;
}

#i3 {
    background: url(../img/drunk-taxi2.jpg);
    background-size: 100%;
}

#i4 {
    background: url(../img/license_types.png);
    background-size: 100%;
}

#i5 {
    background: url(../img/heatmap_jfk.png);
    background-size: 100%;
}

#i6 {
    background: url(../img/delta.jpg);
    background-size: 100%;
}

#i7 {
    background: url(../img/robot.jpg);
    background-size: 100%;
}

div.transbox {
    width: 400px;
    height: 400px;
    margin: 30px 50px;
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.9;
    filter: alpha(opacity=90); /* For IE8 and earlier */
}

div.transbox#tall {
    height: 800px;
}

div.transbox p {
    margin: 30px 40px;
    color: #000000;
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', Helvetica, Arial, Verdana, sans-serif;
    font-size: 16pt;
}
