#map {
	width: 800px;
	height: 600px;
	border: 1px solid #ccc;
}

#description{
    position: absolute;
    top: 30px;
    left: 880px;
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', Helvetica, Arial, Verdana, sans-serif;
    font-size: 16pt;
}

